.box{
    font-size: 25px;
    font-weight: lighter;
}
.hr{
    width: 100%;
    margin-left: 2px;
    padding-top: 0px;
}
th{
    height: 50px;
}
table{
    padding-bottom: 0px;
}
iframe{
    margin-left: -8px;
    align: center;
    width: 600px;
    height: 500px;
}
a{
    text-decoration: none;
    color: inherit; /* 使用继承的文字颜色 */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rectangle {
    width: 470px;
    height: 320px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}